<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome, {{Username}} </title>
    <h1> Welcome, {{Username}}</h1>
  </head>
  <body>
      <p>Hi, {{firstName}} {{lastName}}, here is what we have on you:</p>
      <article>{{Bio}}</article>
  </body>
  <footer>
      <a href="http://localhost:3000/logout">click here to logout!</a>
  </footer>
</html>